.btn{
  width: 40%;
  margin: 0 auto;
}

.cuadro{
  background-color: brown;
  padding: 10px;
  width: 100px;
  color: white;
  margin-left: 30px;
  text-align: center;
}

.boton{
  padding: 5px 10px;
  background-color: rgba(159, 90, 90, 0.372);
  border: none;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 5px;
  
}

.advertencia{
  margin: 10px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}
